{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg-image" style="--url: url({{img.urls.full}})">
        <div class="container">
            <div class="row">
                <br>
                <p class="text-center" style="font-size: 30px;"><u>SAVED IDEAS</u></p>
                <table class="table table-hover table-borderless mx-auto">
                    <tbody>
                        {% for idea in ideas %}
                            <tr>
                                <td><p class="text-uppercase my-auto" style="font-size: 25px;">{{idea}}</p></td>
                                <td class="float-right"><button class="btn btn-danger mt-auto">DELETE</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row py-5">
            <div class="col-auto mx-auto">
                {% filter upper %}
                <a href="{{img.links.html}}"><p>PHOTO BY {{img.user.name}} ON UNSPLASH</p></a>
                {% endfilter %}
            </div>
        </div>
    </div>
</div>
{% endblock %}